/**********************/
/* BELOW 1200 PX (Landscape Tablets) */
/**********************/
@media (max-width: 75rem) {
  .hero,
  .macbook-pro,
  .iphone {
    transform: translateX(-100%);
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .hero,
  .macbook-pro,
  .iphone {
    transform: translateX(-175%);
  }
}

/**********************/
/* Below 704px (SMALLER TABLETS) */
/**********************/
@media (max-width: 44em) {
  .hero,
  .macbook-pro,
  .iphone {
    transform: translateX(-210%);
  }
}

/********************/
/* Less than 544px (Mobiles phones) */
/********************/
@media (max-width: 34em) {
  .macbook-pro {
    transform: translateX(-350%);
  }

  .iphone {
    transform: translateX(-390%);
  }

  .hero {
    transform: translateX(-390%);
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .header {
    justify-content: space-between;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(50, 50, 51);
    z-index: 100;
    flex-direction: column;
    gap: 3.2rem;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: all 0.5s;
  }

  .nav-open nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-link:link {
    font-size: 2.4rem;
  }
  /* Mobile nav */
  .btn-mobile-nav {
    display: block;
    z-index: 10000;
  }
}
