/***********************/
/* NAVIGATION */
/***********************/
.header {
  padding: 0 8.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #323233;
  color: #d6d6d6;
}

nav {
  margin: 0 auto;
  width: 80%;
  height: 4.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #d6d6d6;
  font-size: 1.3rem;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #fff;
}

.logo {
  font-size: 2.4rem;
}

/* Mobile */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 3.6rem;
  width: 3.6rem;
  color: #d6d6d6;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/***********************/
/* HERO SECTION */
/***********************/
.section-mac-air {
  position: relative;
}

.hero {
  transform: translateX(-80%);
}

.hero-text-box {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.hero-back-image {
  position: relative;
  width: 3508px;
  height: 724px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/macbook-air.png");
  overflow: visible;
}

.links {
  justify-content: center;
  display: flex;
  gap: 2.4rem;
}

/***********************/
/* MacBook Pro SECTION */
/***********************/

.section-mac-pro {
  position: relative;
}
.macbook-pro {
  transform: translateX(-80%);
}
.mac-pro-back-image {
  position: relative;
  width: 3508px;
  height: 724px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/hero-macbook-13.jpg");
  overflow: visible;
}

.mac-text-box {
  text-align: center;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

/***********************/
/* MacBook Pro SECTION */
/***********************/

.section-iphone {
  position: relative;
}

.iphone {
  transform: translateX(-80%);
}

.iphone-back-image {
  width: 3508px;
  height: 724px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/iphone.jpg");
  overflow: visible;
}

.cards {
  padding: 0 1.2rem;
}

.card-img {
  width: 100%;
}

.katy {
  background-color: #1a1a1a !important;
  line-height: 1.2;
}

.chacha {
  background-color: #e5b400 !important;
}

/* *************** */
/* FOOTER SECTION */
/* *************** */

.section-footer {
  background-color: #f5f5f7;
}
.container-footer {
  padding: 1.2rem 0;
  margin: 0 auto;
  max-width: 100rem;
}
.copy-text {
  font-size: 1.2rem;
  color: #adadb1;
  margin-bottom: 1.2rem;
}

hr {
  background-color: #adadb1;
  color: #adadb1;
}

.footer-text {
  margin-top: 1.2rem;
}

footer {
  padding-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
